<footer>
    <div>
      <h3>PULSE</h3>
      <p>A modern website showcasing blogs.</p>
    </div>
    <p>&copy; 2025 Pulse. Designed and developed by Karthika Nair Prasannakumar.</p>
  </footer>
  </body>
  </html>
  